*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "amatic" ;
    src: url(/public/font/AmaticSC-Bold.ttf)
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,h2,h3,h4{
    font-family: "amatic" ,sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5vh 6vw;
}
select{
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-size: 16px;
}
select:hover{
    color: rgba(0, 0, 0, 0.685);
    border-bottom:#d53535 2px solid;
}
header h2 {
    font-family: none;
}
header h2 span{
    color: #d53535;
}
nav{
    display: flex;
    gap: 3vw;
}
nav > a{
    color: gray;
    text-decoration: none;
}
nav a:hover {
    color: rgba(0, 0, 0, 0.685);
    border-bottom:#d53535 2px solid;
}
.btn-book{
    padding: 1.9vh 1.7vw;
    border: none;
    border-radius: 22px;
    background-color: #d53535;
    color: white;
    cursor: pointer;
}
.btn-book:hover{
    background-color: hsl(0, 98%, 49%);
    box-shadow: 2px 2px 6px 2px rgba(128, 128, 128, 0.492);
}
#list{
    display: none;
}

/* & hero section */

.hero_section{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 5vh 6vw;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.title h1 {
    width: 70%;
    font-size: 50px;
}
.title p{
    width: 80%;
    line-height: 6vh;
    font-size: 20px;
    color: #171212a8;
}
.btns{
    padding-top: 6vh;
    display: flex;
    gap: 2vw;
}
.btn-video{
    display: flex;
    width: 30%;
    align-items: center;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.btn-video > p{
    font-size: 15px;
    font-weight: 550;
    color: black;
}
.btn-video > i{
    font-size: 30px;
    color: #d53535;
}
.btn-video > p:hover{
    color: #d53535;
}
.contianerCarousel{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
}
.contianerCarousel > .close{
    font-size: 30px;
    position: absolute;
    right: 0px;
    padding: 2vh 2vw;

}
.image > img{
    width: 80%;
    transform: translateX(25%);
}

/* & section about */

.about{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 6vh;
    padding: 5vh 6vw;
}
.about h1 span{
    color: #d53535;
}
.about .flex{
    display: flex;
    
}
.flex .left{
    width: 60%;
}
.flex .left img{
    width: 100%;
}
.flex .left .contact{
    border: solid 3px gray ;
    padding: 5vh 2vw;
    text-align: center;
}
.contact p{
    font-weight: 600;
}
.contact span{
    font-size:25px ;
    font-weight: 600;
    margin-top: 2vh;
    color: #d53535;
    
}
.flex .right{
    width: 40%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}.flex .right span{
    color: #171212a8;
}
.flex .right .text-iconChecked{
    display: flex;
    gap: 1vw;

}
.text-iconChecked i {
    color: #d53535;
}
.click-image{
    position: relative;
}
.flex .right .click-image img{
    width: 100%;
}
.click-image i{
    position: absolute;
    top: 40%;
    right: 45%;
    font-size: 30px;
    color: #ffffff;
    background-color: #d53535;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/* & secound section about */

.secound-about{
    background-color: #f2f2f2;
    display: flex;
    gap: 4vw;
    padding: 5vw 6vh;
}
.secound-about .first-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    background-color: #ce1212;
    color: #ffffff;
    padding: 4vh 4vw;
    
    
}
.secound-about .first-div span{
    font-size: 30px;
    font-weight: 600;
}
.secound-about .first-div .btn {
    text-align: center;
}
.secound-about .first-div .btn button:hover{
    background-color: white;
    color:#d53535;
    font-weight: bold;
    box-shadow: 2px 2px 6px 2px rgba(245, 243, 243, 0.492);
}
.first-div .btn button{
    padding: 2.5vh 3.5vw;
    border: none;
    border-radius: 20px;
    background-color: #d53535;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.secound-about .statW{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    padding: 4vh 4vw;
    background-color: white;
}
.statW i {
    font-size: 30px;
    color: #ce1212;
    background-color: #fc70701d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statW i:hover{
    background-color: #ce1212;
    color: white;
    transition: ease-in-out 0.3s;
}
.statW span{
    font-size: large;
    font-weight: 550;
    width: 130%;
    text-align: center;
}
.statW p {
    width: 150%;
    text-align: center;
    color: #171212a8;
}

/* & section statistics */

.statistics{
    background: url("../img/stats-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5); 
    background-blend-mode: overlay;
    height: 70vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vh 0;
}
.statistics .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.stats span{
    font-size: 40px;
    font-weight: 700;
}
.stats p {
    color: #dadadae6;
}

/* & section menu */

.menu{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4vh;
    padding: 5vh 6vw;
}
.menu p{
    color: #171212a8;
    font-size: 14px;
}
.menu h1{
    font-size: 45px;
}
.menu h1 span{
    color: #ce1212;
    
}
.menuflex{
    display: flex;
    gap: 4vw;
    padding-bottom: 2vh;
}
.menuflex p {
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.menuflex p::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #171212a8;
    position: absolute;
    bottom: -8px;
}
.menuflex p:hover::before{
    background-color: #ce1212;
}
.menu span{
    color: #171212d5;
}
.menu h2{
    color: #ce1212;
    font-size: 50px;
}
.all-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
}
.all-menu .card img {
    width: 50%;
    padding-bottom: 2vh;
}
.all-menu  .text{
    font-size: large;
    color: black;
}
.all-menu span{
    font-size: 14px;
    color: #171212a8;
}
.all-menu .price{
    color: #ce1212;
    font-size: x-large;
    padding-top: 1vh;
}

/* & Testimonials section */
.testimonials{
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    gap: 4vh;
    background-color: #f2f2f2;
}
.testimonials p {
    font-size: 15px;
    color: #171212d5;
}
.testimonials h1{
    font-size: 45px;
}
.testimonials h1 span {
    color: #ce1212;
}

.carousel-container {
    width: 70%;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}


.slide {
    min-width: 100%;
    display: flex;
    gap: 2vw;
    position: relative;
    
}
.slide .text{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 1vw;
    
}
.slide > .text::before{
    content: '';
    width: 3px;
    height: 60%;
    top: 8px;
    position: absolute;
    left: 1px;
    background-color: #ce1212;
}
.slide .text p{
    line-height: 6vh;
    font-weight: 500;
}
.slide .text h3{
    font-weight: 400;
}
.slide .text h4{
    color: #171212a8;
    font-size: 14px;
}
.slide .text .star {
    display: flex;
    
}
.slide .text .star i{
    color: #ffc107;
}

.slide img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 50%;

}

.indicators-grp{
    width: 100%;
    padding: 2vh 0;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}
.indicator{
    width: 12px;
    height: 12px;
    background: #808080bd;
    border-radius: 50%;
    cursor: pointer;
}
.activeIndicator{
    background-color: #ce1212;
}