*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "amatic" ;
    src: url(/public/font/AmaticSC-Bold.ttf)
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,h2,h3,h4{
    font-family: "amatic" ,sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5vh 6vw;
}
select{
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-size: 16px;
}
select:hover{
    color: rgba(0, 0, 0, 0.685);
    border-bottom:#d53535 2px solid;
}
header h2 {
    font-family: none;
}
header h2 span{
    color: #d53535;
}
nav{
    display: flex;
    gap: 3vw;
}
nav > a{
    color: gray;
    text-decoration: none;
}
nav a:hover {
    color: rgba(0, 0, 0, 0.685);
    border-bottom:#d53535 2px solid;
}
.btn-book{
    padding: 1.9vh 1.7vw;
    border: none;
    border-radius: 22px;
    background-color: #d53535;
    color: white;
    cursor: pointer;
}
.btn-book:hover{
    background-color: hsl(0, 98%, 49%);
    box-shadow: 2px 2px 6px 2px rgba(128, 128, 128, 0.492);
}
#list{
    display: none;
}

/* todo.... hero section */

.hero_section{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 5vh 6vw;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title h1 {
    width: 70%;
    font-size: 50px;
}
.title p{
    width: 80%;
    line-height: 6vh;
    font-size: 20px;
    color: #171212a8;
}
.btns{
    padding-top: 6vh;
    display: flex;
    gap: 2vw;
}
.btn-video{
    display: flex;
    width: 30%;
    align-items: center;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.btn-video > p{
    font-size: 15px;
    font-weight: 550;
    color: black;
}
.btn-video > i{
    font-size: 30px;
    color: #d53535;
}
.btn-video > p:hover{
    color: #d53535;
}
.contianerCarousel{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
}
.contianerCarousel > .close{
    font-size: 30px;
    position: absolute;
    right: 0px;
    padding: 2vh 2vw;
}
.image > img{
    width: 80%;
    transform: translateX(25%);
}
.image > img{
    animation:  plat  2s ease-in-out infinite alternate-reverse both; 
    }
    @keyframes plat {
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
    }

/* todo.... about section*/

.about{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 6vh;
    padding: 5vh 6vw;
}
.about h1 span{
    color: #d53535;
}
.about .flex{
    display: flex;
}
.flex .left{
    width: 60%;
}
.flex .left img{
    width: 100%;
}
.flex .left .contact{
    border: solid 2px gray ;
    padding: 5vh 2vw;
    text-align: center;
}
.contact p{
    font-weight: 600;
}
.contact span{
    font-size:25px ;
    font-weight: 600;
    margin-top: 2vh;
    color: #d53535;
}
.flex .right{
    width: 40%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}.flex .right span{
    color: #171212a8;
}
.flex .right .text-iconChecked{
    display: flex;
    gap: 1vw;
}
.text-iconChecked i {
    color: #d53535;
}
.click-image{
    position: relative;
}
.flex .right .click-image img{
    width: 100%;
}
.click-image i{
    position: absolute;
    top: 40%;
    right: 45%;
    font-size: 30px;
    color: #ffffff;
    background-color: #d53535;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/* todo.... second section about */

.second-about{
    background-color: #f2f2f2;
    display: flex;
    gap: 4vw;
    padding: 5vw 6vh;
}
.second-about .first-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    background-color: #ce1212;
    color: #ffffff;
    padding: 4vh 4vw;
}
.second-about .first-div span{
    font-size: 30px;
    font-weight: 600;
}
.second-about .first-div .btn {
    text-align: center;
}
.second-about .first-div .btn button:hover{
    background-color: white;
    color:#d53535;
    font-weight: bold;
    box-shadow: 2px 2px 6px 2px rgba(245, 243, 243, 0.492);
}
.first-div .btn button{
    padding: 2.5vh 3.5vw;
    border: none;
    border-radius: 20px;
    background-color: #d53535;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.second-about .statW{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    padding: 4vh 4vw;
    background-color: white;
}
.statW i {
    font-size: 30px;
    color: #ce1212;
    background-color: #fc70701d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statW i:hover{
    background-color: #ce1212;
    color: white;
    transition: ease-in-out 0.3s;
}
.statW span{
    font-size: large;
    font-weight: 550;
    width: 130%;
    text-align: center;
}
.statW p {
    width: 150%;
    text-align: center;
    color: #171212a8;
}

/* todo.... statistics section */

.statistics{
    background: url("../img/stats-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5); 
    background-blend-mode: overlay;
    height: 70vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vh 0;
}
.statistics .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.stats span{
    font-size: 42px;
    font-weight: 705;
}
.stats p {
    color: #b6b5b5e6;
    font-weight: bold;
}

/* todo... menu section */

.menu{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5vh;
    padding: 5vh 6vw;
}
.menu p{
    color: rgba(128, 128, 128, 0.907);
    font-size: 14px;
}
.menu h1{
    font-size: 50px;
}
.menu h1 span{
    color: #ce1212;
}
.menuflex{
    display: flex;
    gap: 4vw;
    padding-bottom: 2.2vh;
}
.menuflex p {
    font-size: 19px;
    position: relative;
    cursor: pointer;
}
.menuflex p::before{
    content: '';
    width: 100%;
    height: 1.8px;
    background-color: rgba(128, 128, 128, 0.578);
    position: absolute;
    bottom: -8px;
}
.menuflex p:hover::before{
    background-color: #ce1212;
}
.menu span{
    color: #171212be;
}
.menu h2{
    color: #ce1212;
    font-size: 55px;
}
.all-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
}
.all-menu .card img {
    width: 65%;
    padding-bottom: 2vh;
}
.all-menu  .text{
    font-size: large;
    color: black;
}
.all-menu span{
    font-size: 17px;
    color: #4e4b4ba8;
}
.all-menu .price{
    color: #ce1212;
    font-size: 25px;
    font-weight: bold;
    padding-top: 1vh;
}

/* todo.... Testimonials section */
.testimonials{
    padding: 5.5vh 6vw;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    gap: 5vh;
    background-color: rgba(128, 128, 128, 0.132);
}
.testimonials p {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.916);
}
.testimonials h1{
    font-size: 42px;
}
.testimonials h1 span {
    color: #ce1212;
}
.carousel-container {
    width: 67%;
    position: relative;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.7s ease;
}
.slide {
    min-width: 100%;
    display: flex;
    gap: 2vw;
    position: relative;
}
.slide .text{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2.4vh;
    padding-left: 1.2vw;
}
.slide > .text::before{
    content: '';
    width: 3px;
    height: 65%;
    top: 7px;
    position: absolute;
    left: 1px;
    background-color: #ce1212;
}
.slide .text p{
    line-height: 5vh;
    font-weight: 510;
}
.slide .text h3{
    font-weight: 412;
}
.slide .text h4{
    color: #1e1818ad;
    font-size: 15px;
}
.slide .text .star {
    display: flex;
}
.slide .text .star i{
    color: #e9af02;
}
.slide img {
    width: 25%;
    object-fit: cover;
    border-radius: 50%;
}
.indicators-grp{
    width: 100%;
    padding: 2vh 0;
    position: absolute;
    bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 15;
}
.indicator{
    width: 12px;
    height: 12px;
    background: rgba(128, 128, 128, 0.625);
    border-radius: 50%;
    cursor: pointer;
}
.activeIndicator{
    background-color: #ce1212;
}

/*todo.... Stay With Us section*/
.rsv{
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;        
    gap : 2vh ;
}
.rsv p{
    font-size: 15px;
    color: #171212d5;
}
.rsv h1 span{
    color: #ce1212;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
}
.img{
    width: 40%;
}
.img img{
    width: fit-content;
    height: 100%;
    object-fit: cover;
}
.inf{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    padding-inline: 3vw;
}
.inf form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2vw;
}
.inf form input{
    padding: 2vh 0.5vw;
    border: solid 1px #80808061;
    outline: none;
}
.areatext textarea{
    padding: 2vh 1vw;
}
.inf button{
    padding: 2.2vh 4vw;
    background-color: #ce1212;
    color: white;
    border: none;
    border-radius: 5px;
}
.inf button:hover{
    opacity: 80%;
    box-shadow: 2px 2px 6px 2px rgba(237, 236, 236, 0.492);
}

/* todo.... Footer section */
footer{
    background-color: #101010e2;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}
.footer_cnt{
    display: flex;
    justify-content: space-evenly;
    padding: 6vh 0;
}
.footer_cnt .crt .flex {
    display: flex;
    align-items: center;
    gap: 2vw;
}
.footer_cnt .crt .flex i{
    color: #ce1212;
    font-size: 23px;
}
.footer_cnt .crt  p{
    margin: 2;
}
.footer_cnt .crt .change {
    padding-left: 3.5vw;
    padding-top: 3vh;
}
.social {
    display: flex;
    flex-direction: column;
}
.social nav {
    display: flex;
    gap: 2vw;
}
.social nav a{
    text-decoration: none;
    border: #80808065 solid 1px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    gap: 3px;
}
.social nav a:hover{
    border-bottom: none;
    color: #ce1212;
    border: 1px solid #ce1212;
}
.footer{
    margin: 1.5vh 5.5vw;
    padding: 5.2vh 6.2vw;
    text-align: center;
    border-top: 0.6px solid #80808062;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.footer p{
    margin: 2px;
    font-size: 15px;
    font-weight: 0;
}
.footer .cRed{
    color: #ce1212;
}
.rouge{
    color: #ce1212;
}
